<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Blogs</h1>
        </div>
    </div>

</head>
<body>
    @model List<BlogSpot.Web.Models.Domain.BlogPost>

    @if (Model is null || !Model.Any())
    {
        <div class="container py-5">
            <p>No blogs found</p>
        </div>
    }
    else
    {
        <div class="container py-5">
            @foreach (var blog in Model)
            {
                <div class="blog-item mb-5">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@blog.FeaturedImageUrl" alt="Blog Image" class="img-fluid rounded">
                        </div>
                        <div class="col-md-8">
                            <h2>@blog.Heading</h2>
                            <p class="blog-description">@blog.ShortDescription</p>
                            <small class="blog-meta">Published on @blog.PublishedDate.ToShortDateString() by @blog.Author</small><br />
                            <a class="btn btn-primary" asp-controller="Blog" asp-action="BlogView" asp-route-id="@blog.Id">View full Blog</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</body>
</html>
