@model List<BlogSpot.Web.Models.Domain.Tag>

<h1>Tag List</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Name</th>
            <th>Display Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <form method="post">
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                    <td>@tag.DisplayName</td>
                    <td>
                        <button type="submit" class="btn btn-primary" asp-action="TagEdit" asp-controller="AdminTags" asp-route-id="@tag.Id">Edit</button>
                        <button type="submit" class="btn btn-outline-danger ms-3" asp-action="TagDelete" asp-controller="AdminTags" asp-route-id="@tag.Id">Delete</button>
                    </td>
                </tr>
            }
        </form>
    </tbody>
</table>
